/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 color: #008000;
 text-decoration: underline;
}
span.rvts11
{
 font-size: 13pt;
}
span.rvts12
{
 font-size: 13pt;
 color: ;
}
span.rvts13 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts14, span.rvts14 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts15
{
 font-size: 12pt;
 color: ;
}
span.rvts16
{
 font-size: 13pt;
 color: #7f7f7f;
}
span.rvts17
{
 font-size: 18pt;
 color: #00a5ff;
}
span.rvts18
{
 font-size: 12pt;
 color: #00a5ff;
}
span.rvts19
{
 font-size: 13pt;
 font-weight: bold;
 color: #7f7f7f;
}
span.rvts20
{
 font-size: 13pt;
 font-weight: bold;
}
span.rvts21
{
 font-size: 13pt;
 color: ;
}
span.rvts22
{
 font-size: 24pt;
 font-weight: bold;
 color: ;
}
span.rvts23
{
 font-size: 13pt;
}
span.rvts24
{
 font-size: 13pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts25
{
 font-size: 12pt;
 font-weight: bold;
}
span.rvts26
{
 font-weight: bold;
}
span.rvts27
{
 font-style: italic;
 font-weight: bold;
}
span.rvts28
{
 font-size: 14pt;
}
span.rvts29
{
 font-size: 14pt;
}
span.rvts30
{
 font-size: 15pt;
 font-weight: bold;
}
span.rvts31
{
 font-size: 15pt;
}
span.rvts32
{
 font-size: 14pt;
 font-weight: bold;
}
span.rvts33
{
 font-size: 14pt;
 color: #ff0000;
}
span.rvts34
{
 font-size: 13pt;
 font-weight: bold;
}
span.rvts35
{
 font-style: italic;
 font-weight: bold;
 color: #7f7f7f;
}
span.rvts36
{
 font-size: 13pt;
 font-weight: bold;
 color: #ff0000;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps5
{
 margin: 0px 0px 1px 0px;
}
.rvps6
{
 margin: 0px 0px 0px 24px;
}
.rvps7
{
 margin: 0px 0px 0px 96px;
}
.rvps8
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps9
{
 margin: 0px 0px 0px 48px;
}
.rvps10
{
 margin: 0px 0px 0px 72px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside;}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: square;}
